html, body {
  /* background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Open Sans";
}

body {
  background-size: cover;
  font-size: 100%;
}

.App {
  text-align: left;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* overflow: auto; */
}

.headline {
/* background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%); */
  text-align: center;
  background: linear-gradient(to top, #ff5370, #ff595a);

  font-size: 140%;
  padding: 1em;
  color: white;
  padding: 1em 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

      /* container layout begin */

.pageComponents {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  /* position: absolute; */
  width: 100%;
  padding-top: 1em;
  position: relative;
  height: 100%;
  /* overflow: visible; */

}

.noteListContainer {
  margin: 0.5em;
  padding: 0.5em;
  height: auto;
  display: flex;
  text-align: left;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  flex: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-basis: 30%;


}

.editorContainer {
  margin: 0.5em;
  padding: 1em;
  border-left: #f6f7fb solid 2px;
  color: #2C3A51;
  display: flex;
  text-align: left;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 68%;
  background: #FBFAFA;

  /* background-color: #fafafa; */
  /* background-image: radial-gradient(73% 147%, #fef7f8 59%, #fff5f6 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen; */
}

/* container layout end */


/* note list style begin  */

.note-list-header {
  font-size: 20px;
  text-align: center;
  padding: 1em;
  margin: 0.25em;
}

.note-list-item {
  padding: 1em 0.5em;
  font-size: 14px;
  border-bottom: #f5efef solid 1px;
  min-height: 40px;
}

.note-list-item:hover {
  background: #FBF1F1;
}

/* note list style end  */


.aboveEditor {
  font-size: 1.25em;
  text-align: left;
  /* margin: 0.5em;
  padding: 0.5em; */
}

input[type="text"].noteTitle {
  font-size: 18px;
  font-family: "Open Sans";
  border-bottom: #f6f7fb solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
  position: inline;
  padding: 0.5em;
}

.tool-bar {
  border: #f6f7fb solid 2px;
  /* margin: 0.25em; */
  text-align: center;
  font-family: serif;
  background-color: #dedcdc;
  margin: 0.5em 0.5em 0em 0.5em;
  padding: 0.5em;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.editors {
  border: none;
  border-radius: 4px;
  padding: 3em 1.5em;
  margin: -0.2em 0.6em 1em 0.6em;
  font-family: "HK Grotesk";
  color: #2C3A51;
  font-size: 16px;
  text-align: left;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  min-height: 36%;
}

.editors a {
    color: #1E79FF;
}

a:hover {

}

img {
  min-width: 100px;
  max-width: 300px;
  text-align: center;
}


/* button styles begin  */

button#new,  {
  padding: 0.25em;
  border-radius: 100px;
  width: 2em;
}

button.submitNote {
  border-radius: 10px;
  font-size: 13px;
  float: right;
  display: inline;
  padding: 0.5em;
  color: white;
  border: none;
  background-color: #ff5f6d;
  margin: 0.35em;
  /* background-image: linear-gradient(to bottom, #ff5f6d, #ff7a65, #ff9362, #ffac66, #ffc371); */
}



.styleButton, #link_url, .RichEditor-styleButton {
  padding: 0.5em;
  background: white;
  border: none;
  color: #FF5370;
  margin: 0.35em;
  width: 2.5em;
  font-family: serif;
  font-size: 13px;
  height: 2.25em;
}

.RichEditor-activeButton {
  background-color: #feb47b;
  color: white;
}

select {
  padding: 0.5em;
  background: #F9FBFC;
  border: none;
  color: #3b465d;
  margin: 0.35em;
  border-radius: 6px;
  font-family: serif;
  font-size: 13px;;
  height: 2.25em;
}

.styleButton#bold {
  font-weight: 800;
}

.styleButton#italic {
  font-style: italic;
  font-family: serif;
}

.styleButton#underline {
  text-decoration: underline;
}

.material-icons {
  font-size: 13px;
}


/* button styles end */
