html, body {

  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Tajawal";
}

body {
  background-size: cover;
  font-size: 100%;
  width: 100%;
}



.headline {
  text-align: center;
  background: linear-gradient(to top, #ff5370, #ff595a);

  font-size: 110%;
  /* padding: 1em; */
  color: white;
  padding: 0.8em 0;
}



      /* container layout begin */

.pageComponents {

  display: inline-flex;
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;

}

.noteListContainer {
  position: relative;

  margin: 1em 0em;
  padding: 1em 0em 1em 0em;
  flex-basis: 28%;
  text-align: left;
  /* overflow-y: auto;
  overflow-x: hidden;
  height: 70vh; */
  order: 1;
  flex-shrink: 1;



}

.editorContainer {
  margin: 0em;
  padding: 2em;
  border-left: #f6f7fb solid 2px;
  color: #2C3A51;
  text-align: left;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  order: 2;
  height: 100vh;
  flex: 1 0 auto;
  flex-basis: 60%;
  background: #FBFAFA;
  align-items: center;
  align-self: stretch
}

/* container layout end */


/* note list style begin  */

.note-list-header {
  font-size: 20px;
  text-align: center;
  padding: 1.5em 1em;
  margin: 0.75em;
  color: #585656;
  position: sticky;
  top: 0;
  align-items: center

}

.note-list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 68vh;
  margin: 0.5em 0 0.5em 0.5em;
}

.note-list-item {
  padding: 1.1em;
  font-size: 14px;
  border-bottom: #f5efef solid 1px;
  min-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #484545;
}

.note-list-item:hover {
  background: #FBF1F1;
}

/* note list style end  */


.aboveEditor {
  font-size: 1.25em;
  text-align: left;

}

input[type="text"].noteTitle {
  font-size: 16px;
  font-family: "Tajawal";
  border-bottom: #f6f7fb solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
  position: inline;
  padding: 0.5em;
  margin-left: 0.6em
}

.tool-bar {
  border: #f6f7fb solid 2px;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #dedcdc;
  margin: 0.5em 0.5em 0em 0.5em;
  padding: 0.5em;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.editors {
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em 3em 1.5em;
  margin: -0.2em 0.6em 1em 0.6em;
  font-family: "Helvetica";
  color: #2C3A51;
  font-size: 16px;
  text-align: left;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  min-height: 36%;
  overflow-x:hidden;
  overflow-y:auto;
  position: relative;
  height: 40vh;
  font-size: 90%;

}

.editors a {
  color: blue;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

img {
  min-width: 100px;
  max-width: 300px;
  text-align: center;
}


/* button styles begin  */

button#new,  {
  padding: 0.25em;
  border-radius: 100px;
  width: 2em;
}

button.submitNote {
  border-radius: 10px;
  font-size: 13px;
  float: right;
  display: inline;
  padding: 0.5em;
  color: white;
  border: none;
  background-color:#ff5370;
  margin: 0.35em;
}

.code-block, div.code-block {
  color: #90caf9;
  line-height: 1.2;
  padding: 3px;
  margin-left: 4px;
  background-color: black;
  font-family: "Andale Mono";
  font-size: 13px;
  box-sizing: border-box;
  white-space: pre-wrap;
  display: block;

}



.styleButton, #link_url, .RichEditor-styleButton {
  padding: 6px 12px;
  background: white;
  border: none;
  color: #ff595a;
  margin: 0.35em;
  max-width: 35px;
  min-width: 30px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  height: 2.25em;
}

.RichEditor-activeButton {
  background-color: #feb47b;
  color: white;
}

select {
  padding: 0.5em;
  background: white;
  border: none;
  color: #ff595a;
  margin: 0.35em;
  border-radius: 6px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;;
  height: 2.25em;
}

#bold, #italic, #underline {
  width: 30px;
}

#code {
  font-family: "Andale Mono", monospace;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.styleButton#bold {
  font-weight: 800;
}

.styleButton#italic {
  font-style: italic;
  font-family: 'IBM Plex Sans', sans-serif;
}

.styleButton#underline {
  text-decoration: underline;
}

.material-icons {
  font-size: 13px;
}


/* button styles end */
